body {
  font-family: sans-serif !important;
  width: 800px;
}

* {
  box-sizing: border-box;
}

.alternate-background {
  background: #D0D0D0;
}

.fixed-height {
  height: 24px;
  white-space: nowrap;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.small-text {
  font-size: x-small !important;
  line-height: 14px;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.vspace {
  margin-bottom: 5px;
}

[class*="col-"] {
  float: left;
  padding: 2px;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

#talentRow5 { display: none; }
#talentRow6 { display: none; }
#talentRow7 { display: none; }
#talentRow8 { display: none; }
#talentRow9 { display: none; }
#talentRow10 { display: none; }
#talentRow11 { display: none; }

h1 {
  font-size: 3em;
  font-variant: small-caps;
  letter-spacing: 5px;
  margin: 0 auto 0 auto;
  text-align: center;
}

h1 span {
  position: relative;
  top: -6px;
}

h2 {
  font-size: larger;
  margin: 0;
  text-transform: uppercase;
}

i {
  font-size: smaller;
}

div.border {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

div.title-subtext {
  font-size: x-small;
  margin: -15px auto 0 auto;
  text-align: center;
  text-transform: uppercase;
}

input.full-width, input.small, input.smaller {
  border: none;
  border-bottom: 1px solid black;
  color: black;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-align: center;
  width: 100%;
}

input.small {
  width: 70px;
}

input.smaller {
  width: 30px;
}

span#talentNumSpan {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }

  .pagebreak {
    page-break-before: always;
  }
}
